---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const { minutesRead } = Astro.props.frontmatter;

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const { content: { title, description, pubDate, updatedDate, heroImage }} = Astro.props;

const docs = (await Astro.glob('../pages/docs/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

let nextDoc: any = false
let endOfDocs = false
docs.forEach((post, i) => { 
	if(post.frontmatter.title === title) {
		nextDoc = docs[i - 1] || docs[docs.length - 1]

		if(!docs[i - 1]) endOfDocs = true
	}
})
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				margin: 1rem 0;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{minutesRead && (<br><time><small>{minutesRead}</small></time>)}
				{updatedDate && (<div>Last updated on <time>{updatedDate}</time></div>)}
				<hr />
				<slot />
			</article>
		</main>
		<br>
		<hr>
		{nextDoc ? (
			<a href={nextDoc.url}>{endOfDocs ? 'Back to beginning:' : 'Next Up:'} {nextDoc.frontmatter.title}</a>
		) : ''}
		<Footer />
	</body>
</html>
